openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Export API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: export
paths:
  /v3/workspaces/{workspace_id}/export/json-to-excel:
    post:
      tags:
      - export
      summary: Export Json To Excel V3
      description: Convert JSON data to Excel format and return as downloadable file.
      operationId: export_json_to_excel_v3_v3_workspaces__workspace_id__export_json_to_excel_post
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_export_json_to_excel_v3_v3_workspaces__workspace_id__export_json_to_excel_post'
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    Body_export_json_to_excel_v3_v3_workspaces__workspace_id__export_json_to_excel_post:
      type: object
      properties:
        json_data:
          type: string
          description: JSON data to convert to Excel
          title: Json Data
        filename:
          type: string
          default: export
          description: Base filename for the Excel file (without extension)
          title: Filename
        sheet_name:
          type: string
          default: Sheet1
          description: Name of the Excel sheet
          title: Sheet Name
      required:
      - json_data
      title: Body_export_json_to_excel_v3_v3_workspaces__workspace_id__export_json_to_excel_post
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
