openapi: 3.2.0
info:
  title: ShipmentDocumentManagement Delete API
  description: 'Document management (list, download, add and delete) of shipment related documents.

    '
  contact:
    name: API Support
    email: support.api.ShipmentDocumentManagement@kuehne-nagel.com
  version: v3
  x-api-guideline-version: 1.11.7
  x-api-id: c612c46e-8bc1-4a33-a5fd-cb438e84e605
  x-api-version: 3.0.1
servers:
- url: https://gateway.api.kuehne-nagel.com/transport/execution/documentation/shipment/v3
security:
- default: []
- api_key: []
tags:
- name: Delete
  description: Operations to delete shipment documents.
paths:
  /shipments/{uniqueShipmentReference}/documents/{documentId}:
    delete:
      tags:
      - Delete
      description: Delete a specific document from a shipment (only applicable if `isDeletable=true` in the document meta data).
      operationId: deleteDocument
      parameters:
      - $ref: '#/components/parameters/uniqueShipmentReferenceParameter'
      - $ref: '#/components/parameters/documentIdParameter'
      responses:
        '204':
          description: Document was successfully deleted.
        default:
          $ref: '#/components/responses/default'
      security:
      - default: []
      - api_key: []
      x-auth-type: Application & Application User
      x-throttling-tier: 10KPerMin
components:
  parameters:
    uniqueShipmentReferenceParameter:
      name: uniqueShipmentReference
      in: path
      description: "By default this is the shipment __tracking number__ e.g. `N4242`. \n\nIn case a tracking number is not available a limited set of alternative references can be used.\nPlease use the track and trace API to first search for shipment details (e.g. by a customer specific reference)\nif none of the supported references are available .\n    \nSupported references:\n* __tracking number__\n  * `{trackingNumber}` or `tracking-number:{trackingNumber}`\n  * e.g. `N4242` or `tracking-number:N4242`\n* __booking number__\n  * `booking-number:{bookingNumber}`\n  * e.g. `booking-number:B1`\n* __shipment id__\n  * `shipment-id:{shipmentId}` \n  * e.g. `shipment-id:S1`\n"
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 255
        pattern: ^(tracking-number:|booking-number:|shipment-id:)?[A-Za-z0-9]+$
        type: string
        example: N4242
    documentIdParameter:
      name: documentId
      in: path
      description: Unique identifier of a document
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/DocumentId'
  schemas:
    DocumentId:
      maxLength: 255
      minLength: 1
      type: string
      description: Unique identifier of a shipment document.
      example: Q1234S56
    Problem:
      required:
      - detail
      - title
      type: object
      properties:
        detail:
          maxLength: 256
          type: string
          description: 'A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.

            '
          format: uri-reference
          example: /problem/connection-error#token-info-read-timed-out
        status:
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence of the problem.

            '
          format: int32
          example: 503
          exclusiveMaximum: 600
        title:
          maxLength: 128
          type: string
          description: 'A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.

            '
          example: Service Unavailable
        type:
          type: string
          description: 'A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferencable and point to a human-readable documentation nor globally unique for the problem type.

            '
          format: uri-reference
          example: /problem/connection-error
          default: about:blank
      description: A problem details object as defined by RFC 7807, used to carry error information in HTTP API responses.
  responses:
    default:
      description: An error occurred - please see the HTTP status code and the problem object for more information.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
    api_key:
      type: apiKey
      name: apikey
      in: header
