{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "B2B-OldKAIExtractAPI",
    "description" : "Extract structured information from documents.\n\n## Using the API\n\n### Optional Parameters\nWhen using the 'Try it out' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don't need to remove empty optional fields from requests.\n\n**Tip:** In generated curl commands, you may see flags like `-F 'tag='` or `-F 'tools='`. These empty optional fields are safe to include or remove - the API treats them identically.",
    "version" : "0.1.0"
  },
  "servers" : [ {
    "url" : "https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0"
  }, {
    "url" : "http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0"
  } ],
  "security" : [ {
    "default" : [ ]
  } ],
  "tags" : [ {
    "name" : "process-file",
    "description" : "Process individual files using LLM extraction with prompt templates."
  }, {
    "name" : "process-zip",
    "description" : "Process ZIP archives containing multiple files using LLM extraction."
  }, {
    "name" : "jobs",
    "description" : "Operations for monitoring and managing asynchronous extraction jobs."
  }, {
    "name" : "api-keys",
    "description" : "Management of API keys for workspace authentication."
  }, {
    "name" : "schemas",
    "description" : "Manage schemas for workspaces."
  }, {
    "name" : "prompts",
    "description" : "Manage prompts for workspaces."
  }, {
    "name" : "quotas",
    "description" : "Manage workspace processing quotas and limits."
  }, {
    "name" : "workspaces",
    "description" : "Manage workspaces."
  }, {
    "name" : "test-cases",
    "description" : "Manage test cases for prompt evaluation."
  }, {
    "name" : "tags",
    "description" : "Manage tags for workspaces and prompts."
  }, {
    "name" : "prompt-tags",
    "description" : "Assign and manage tags for specific prompt versions."
  }, {
    "name" : "tools",
    "description" : "Manage and discover available LLM tools for function calling. Includes both local tools and tools from registered MCP servers."
  }, {
    "name" : "background-tasks",
    "description" : "Monitor and manage background scheduled tasks."
  }, {
    "name" : "config",
    "description" : "API configuration and metadata endpoints."
  } ],
  "paths" : {
    "/metrics" : {
      "get" : {
        "summary" : "Metrics",
        "description" : "Endpoint that serves Prometheus metrics.",
        "operationId" : "metrics_metrics_get",
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : { }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/process-file/" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File V2",
        "operationId" : "post_process_file_v2_v2_process_file__post",
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Api-Key"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_v2_v2_process_file__post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/process-zip/" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip V2",
        "operationId" : "post_process_zip_v2_v2_process_zip__post",
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Api-Key"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_v2_v2_process_zip__post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/async/process-file/" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Async V2",
        "operationId" : "post_process_file_async_v2_v2_async_process_file__post",
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Api-Key"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_async_v2_v2_async_process_file__post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/async/process-zip/" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip Async V2",
        "operationId" : "post_process_zip_async_v2_v2_async_process_zip__post",
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Api-Key"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_async_v2_v2_async_process_zip__post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/usage-statistics/" : {
      "get" : {
        "tags" : [ "usage-statistics" ],
        "summary" : "Get Usage Statistics",
        "operationId" : "get_usage_statistics_v2_usage_statistics__get",
        "parameters" : [ {
          "name" : "workspace",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "title" : "Workspace"
          }
        }, {
          "name" : "start_date",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "anyOf" : [ {
              "type" : "string",
              "format" : "date-time"
            }, {
              "type" : "null"
            } ],
            "title" : "Start Date"
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "anyOf" : [ {
              "type" : "string",
              "format" : "date-time"
            }, {
              "type" : "null"
            } ],
            "title" : "End Date"
          }
        }, {
          "name" : "timeframe",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TimeFrame",
            "default" : "month"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Api-Key"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "anyOf" : [ {
              "type" : "string"
            }, {
              "type" : "null"
            } ],
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsageStatisticsResponse"
                  },
                  "title" : "Response Get Usage Statistics V2 Usage Statistics  Get"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/workspaces/api-keys/" : {
      "get" : {
        "tags" : [ "api-keys" ],
        "summary" : "List Api Keys",
        "description" : "List all API keys for a workspace.",
        "operationId" : "list_api_keys_v2_workspaces_api_keys__get",
        "parameters" : [ {
          "name" : "workspace",
          "in" : "query",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "title" : "Workspace"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKeyResponse"
                  },
                  "title" : "Response List Api Keys V2 Workspaces Api Keys  Get"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "post" : {
        "tags" : [ "api-keys" ],
        "summary" : "Create Api Key",
        "operationId" : "create_api_key_v2_workspaces_api_keys__post",
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_create_api_key_v2_workspaces_api_keys__post"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/workspaces/api-keys/{key_id}" : {
      "get" : {
        "tags" : [ "api-keys" ],
        "summary" : "Get Api Key",
        "description" : "Get details of a specific API key by ID.",
        "operationId" : "get_api_key_v2_workspaces_api_keys__key_id__get",
        "parameters" : [ {
          "name" : "key_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Key Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_get_api_key_v2_workspaces_api_keys__key_id__get"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "delete" : {
        "tags" : [ "api-keys" ],
        "summary" : "Delete Api Key",
        "description" : "Delete an API key from the workspace by ID.",
        "operationId" : "delete_api_key_v2_workspaces_api_keys__key_id__delete",
        "parameters" : [ {
          "name" : "key_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Key Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_delete_api_key_v2_workspaces_api_keys__key_id__delete"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "patch" : {
        "tags" : [ "api-keys" ],
        "summary" : "Update Api Key",
        "description" : "Update API key description by ID.",
        "operationId" : "update_api_key_v2_workspaces_api_keys__key_id__patch",
        "parameters" : [ {
          "name" : "key_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Key Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_update_api_key_v2_workspaces_api_keys__key_id__patch"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/workspaces/id/{workspace_id}" : {
      "get" : {
        "tags" : [ "workspaces" ],
        "summary" : "Get Workspace By Id",
        "description" : "Get workspace by ID.",
        "operationId" : "get_workspace_by_id_v2_workspaces_id__workspace_id__get",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v2/workspaces/name/{workspace_name}" : {
      "get" : {
        "tags" : [ "workspaces" ],
        "summary" : "Get Workspace By Name",
        "description" : "Get workspace by name.",
        "operationId" : "get_workspace_by_name_v2_workspaces_name__workspace_name__get",
        "parameters" : [ {
          "name" : "workspace_name",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "Workspace Name"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces" : {
      "get" : {
        "tags" : [ "workspaces" ],
        "summary" : "List Workspaces V3",
        "description" : "List all workspaces available for the authenticated user.",
        "operationId" : "list_workspaces_v3_v3_workspaces_get",
        "parameters" : [ {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceListResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "post" : {
        "tags" : [ "workspaces" ],
        "summary" : "Create Workspace V3",
        "description" : "Create a new workspace.",
        "operationId" : "create_workspace_v3_v3_workspaces_post",
        "parameters" : [ {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_create_workspace_v3_v3_workspaces_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}" : {
      "get" : {
        "tags" : [ "workspaces" ],
        "summary" : "Get Workspace V3",
        "description" : "Get detailed information about a specific workspace identified by UUID.",
        "operationId" : "get_workspace_v3_v3_workspaces__workspace_id__get",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "delete" : {
        "tags" : [ "workspaces" ],
        "summary" : "Delete Workspace V3",
        "description" : "Delete a workspace identified by UUID. By default, performs soft delete, set hard_delete=True for permanent deletion.",
        "operationId" : "delete_workspace_v3_v3_workspaces__workspace_id__delete",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_delete_workspace_v3_v3_workspaces__workspace_id__delete"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteWorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/public-status" : {
      "patch" : {
        "tags" : [ "workspaces" ],
        "summary" : "Update Workspace Public Status V3",
        "description" : "Update the public status of a workspace. Requires WORKSPACE_OWNER role.",
        "operationId" : "update_workspace_public_status_v3_v3_workspaces__workspace_id__public_status_patch",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_update_workspace_public_status_v3_v3_workspaces__workspace_id__public_status_patch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/dataset-collection" : {
      "patch" : {
        "tags" : [ "workspaces" ],
        "summary" : "Update Workspace Dataset Collection V3",
        "description" : "Update the dataset collection setting for a workspace.\n\nWhen enabled, successful extractions will have their inputs and outputs\ncaptured and stored in S3 for use in fine-tuning datasets.\n\n**Requires GLOBAL_ADMIN role.**",
        "operationId" : "update_workspace_dataset_collection_v3_v3_workspaces__workspace_id__dataset_collection_patch",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_update_workspace_dataset_collection_v3_v3_workspaces__workspace_id__dataset_collection_patch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-file" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File V3",
        "description" : "Process a file and return extraction results using a specific prompt version.",
        "operationId" : "post_process_file_v3_v3_workspaces__workspace_id__process_file_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_v3_v3_workspaces__workspace_id__process_file_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-file-with-prompt" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File With Prompt V3",
        "description" : "Process a file with a custom prompt string and return extraction results.",
        "operationId" : "post_process_file_with_prompt_v3_v3_workspaces__workspace_id__process_file_with_prompt_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_with_prompt_v3_v3_workspaces__workspace_id__process_file_with_prompt_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-file" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File V3 Api Key",
        "description" : "Process a file using API key authentication with a specific prompt version.",
        "operationId" : "post_process_file_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-zip" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip V3",
        "description" : "Process a zip file using a specific prompt version and return extraction\nresults for all contained documents.",
        "operationId" : "post_process_zip_v3_v3_workspaces__workspace_id__process_zip_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_v3_v3_workspaces__workspace_id__process_zip_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-zip-with-prompt" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip With Prompt V3",
        "description" : "Process a zip file with a custom prompt string and return extraction results.",
        "operationId" : "post_process_zip_with_prompt_v3_v3_workspaces__workspace_id__process_zip_with_prompt_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_with_prompt_v3_v3_workspaces__workspace_id__process_zip_with_prompt_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-zip" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip V3 Api Key",
        "description" : "Process a zip file using API key authentication with a specific prompt version.",
        "operationId" : "post_process_zip_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-file-with-prompt" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File With Prompt V3 Api Key",
        "description" : "Process a file with a custom prompt string using API key authentication.",
        "operationId" : "post_process_file_with_prompt_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_with_prompt_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_with_prompt_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_with_prompt_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-zip-with-prompt" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip With Prompt V3 Api Key",
        "description" : "Process a zip file with a custom prompt string using API key authentication.",
        "operationId" : "post_process_zip_with_prompt_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_with_prompt_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_with_prompt_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_with_prompt_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/async/process-file" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Async V3 Api Key",
        "description" : "Process a file asynchronously using the Gemini LLM model with API key authentication.\n\nWhen enable_mep_output is set to True, the API will send a notification to the\nMEP connector upon successful completion of the async processing job.",
        "operationId" : "post_process_file_async_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_file_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_async_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_file_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/async/process-zip" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip Async V3 Api Key",
        "description" : "Process a zip file asynchronously using API key authentication.\n\nWhen enable_mep_output is set to True, the API will send a notification to the\nMEP connector upon successful completion of the async processing job.",
        "operationId" : "post_process_zip_async_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_zip_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_async_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_zip_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-file-verified" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Verified V3 Api Key",
        "description" : "Process a file multiple times concurrently for enhanced reliability using API key authentication.\n\nThis endpoint executes the same file processing operation multiple times concurrently\nusing different AI model sessions to ensure consistency and reliability of results\nfor production use cases requiring high confidence.\n\nThe endpoint:\n- Accepts a num_runs parameter (1-5) specifying the number of parallel executions\n- Executes multiple instances of the same file processing operation in parallel\n- Ensures each parallel execution receives an independent context/session\n- Returns a VerifiedProcessingResponse containing all individual processing results",
        "operationId" : "post_process_file_verified_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_verified_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_verified_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_verified_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifiedProcessingResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-file-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Base64 V3",
        "description" : "Process a file from base64 content and return extraction results using a specific prompt version.",
        "operationId" : "post_process_file_base64_v3_v3_workspaces__workspace_id__process_file_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_base64_v3_v3_workspaces__workspace_id__process_file_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-file-with-prompt-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File With Prompt Base64 V3",
        "description" : "Process a file from base64 content with a custom prompt string and return extraction results.",
        "operationId" : "post_process_file_with_prompt_base64_v3_v3_workspaces__workspace_id__process_file_with_prompt_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_with_prompt_base64_v3_v3_workspaces__workspace_id__process_file_with_prompt_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-file-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Base64 V3 Api Key",
        "description" : "Process a file from base64 content using API key authentication with a specific prompt version.",
        "operationId" : "post_process_file_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-zip-base64" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip Base64 V3",
        "description" : "Process a zip file from base64 content using a specific prompt version and return extraction results for all contained documents.",
        "operationId" : "post_process_zip_base64_v3_v3_workspaces__workspace_id__process_zip_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_base64_v3_v3_workspaces__workspace_id__process_zip_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-zip-with-prompt-base64" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip With Prompt Base64 V3",
        "description" : "Process a zip file from base64 content with a custom prompt string and return extraction results.",
        "operationId" : "post_process_zip_with_prompt_base64_v3_v3_workspaces__workspace_id__process_zip_with_prompt_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_with_prompt_base64_v3_v3_workspaces__workspace_id__process_zip_with_prompt_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-zip-base64" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip Base64 V3 Api Key",
        "description" : "Process a zip file from base64 content using API key authentication with a specific prompt version.",
        "operationId" : "post_process_zip_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-file-with-prompt-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File With Prompt Base64 V3 Api Key",
        "description" : "Process a base64 encoded file with a custom prompt string using API key authentication.",
        "operationId" : "post_process_file_with_prompt_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_with_prompt_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_with_prompt_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_file_with_prompt_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractFileResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/process-zip-with-prompt-base64" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Process Zip With Prompt Base64 V3 Api Key",
        "description" : "Process a base64 encoded zip file with a custom prompt string using API key authentication.",
        "operationId" : "post_process_zip_with_prompt_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_with_prompt_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_zip_with_prompt_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__process_zip_with_prompt_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractZipResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/async/process-file-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Async Process File Base64 V3 Api Key",
        "description" : "Process a file from base64 content asynchronously using API key authentication with a specific prompt version.",
        "operationId" : "post_async_process_file_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_file_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_async_process_file_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_file_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/async/process-zip-base64" : {
      "post" : {
        "tags" : [ "process-zip" ],
        "summary" : "Post Async Process Zip Base64 V3 Api Key",
        "description" : "Process a zip file from base64 content asynchronously using API key authentication with a specific prompt version.",
        "operationId" : "post_async_process_zip_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_zip_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_async_process_zip_base64_v3_api_key_v3_api_key_auth_workspaces__workspace_id__async_process_zip_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/process-file-verified-base64" : {
      "post" : {
        "tags" : [ "process-file" ],
        "summary" : "Post Process File Verified Base64 V3",
        "description" : "Process a file from base64 content multiple times concurrently for verification using a specific prompt version.",
        "operationId" : "post_process_file_verified_base64_v3_v3_workspaces__workspace_id__process_file_verified_base64_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_post_process_file_verified_base64_v3_v3_workspaces__workspace_id__process_file_verified_base64_post"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/VerifiedProcessingResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/api-key-auth/workspaces/{workspace_id}/jobs/{tracking_id}" : {
      "get" : {
        "tags" : [ "jobs" ],
        "summary" : "Get Job Status V3 Api Key",
        "description" : "Get the status of an asynchronous job using API key authentication.",
        "operationId" : "get_job_status_v3_api_key_v3_api_key_auth_workspaces__workspace_id__jobs__tracking_id__get",
        "parameters" : [ {
          "name" : "tracking_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Tracking Id"
          }
        }, {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Api-Key"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExtractAsyncJobResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/usage-statistics" : {
      "get" : {
        "tags" : [ "workspaces" ],
        "summary" : "Get Usage Statistics V3",
        "description" : "Get usage statistics for a workspace identified by UUID.\n\nYou can either specify start_date/end_date manually or use the period parameter\nfor common time periods like 'current_month', 'previous_month', 'last_two_months'.",
        "operationId" : "get_usage_statistics_v3_v3_workspaces__workspace_id__usage_statistics_get",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "start_date",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "anyOf" : [ {
              "type" : "string",
              "format" : "date-time"
            }, {
              "type" : "null"
            } ],
            "title" : "Start Date"
          }
        }, {
          "name" : "end_date",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "anyOf" : [ {
              "type" : "string",
              "format" : "date-time"
            }, {
              "type" : "null"
            } ],
            "title" : "End Date"
          }
        }, {
          "name" : "timeframe",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/TimeFrame",
            "default" : "month"
          }
        }, {
          "name" : "period",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "anyOf" : [ {
              "$ref" : "#/components/schemas/TimePeriod"
            }, {
              "type" : "null"
            } ],
            "title" : "Period"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/UsageStatisticsResponse"
                  },
                  "title" : "Response Get Usage Statistics V3 V3 Workspaces  Workspace Id  Usage Statistics Get"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/api-keys" : {
      "get" : {
        "tags" : [ "api-keys" ],
        "summary" : "List Api Keys V3",
        "description" : "List API keys in a workspace",
        "operationId" : "list_api_keys_v3_v3_workspaces__workspace_id__api_keys_get",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiKeyResponse"
                  },
                  "title" : "Response List Api Keys V3 V3 Workspaces  Workspace Id  Api Keys Get"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "post" : {
        "tags" : [ "api-keys" ],
        "summary" : "Create Api Key V3",
        "description" : "Create a new API key for a workspace identified by UUID. API keys expire after 90 days by default.",
        "operationId" : "create_api_key_v3_v3_workspaces__workspace_id__api_keys_post",
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_create_api_key_v3_v3_workspaces__workspace_id__api_keys_post"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      }
    },
    "/v3/workspaces/{workspace_id}/api-keys/{key_id}" : {
      "get" : {
        "tags" : [ "api-keys" ],
        "summary" : "Get Api Key V3",
        "description" : "Get details of a specific API key in a workspace",
        "operationId" : "get_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__get",
        "parameters" : [ {
          "name" : "key_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Key Id"
          }
        }, {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security" : [ {
          "default" : [ ]
        } ],
        "x-auth-type" : "Application & Application User",
        "x-throttling-tier" : "Unlimited"
      },
      "delete" : {
        "tags" : [ "api-keys" ],
        "summary" : "Delete Api Key V3",
        "description" : "Delete an API key in a workspace",
        "operationId" : "delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete",
        "parameters" : [ {
          "name" : "key_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Key Id"
          }
        }, {
          "name" : "workspace_id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "format" : "uuid",
            "title" : "Workspace Id"
          }
        }, {
          "name" : "x-auth-request-email",
          "in" : "header",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "title" : "X-Auth-Request-Email"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/Body_delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteApiKeyResponse"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            }
[...]
