openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Usage Statistics API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: usage-statistics
paths:
  /v2/usage-statistics/:
    get:
      tags:
      - usage-statistics
      summary: Get Usage Statistics
      operationId: get_usage_statistics_v2_usage_statistics__get
      parameters:
      - name: workspace
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          title: Workspace
      - name: start_date
        in: query
        required: false
        style: form
        explode: true
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Start Date
      - name: end_date
        in: query
        required: false
        style: form
        explode: true
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Date
      - name: timeframe
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/TimeFrame'
          default: month
      - name: x-api-key
        in: header
        required: false
        style: simple
        explode: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      - name: x-auth-request-email
        in: header
        required: false
        style: simple
        explode: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UsageStatisticsResponse'
                title: Response Get Usage Statistics V2 Usage Statistics  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    TimeFrame:
      type: string
      enum:
      - day
      - week
      - month
      - year
      title: TimeFrame
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    UsageStatisticsResponse:
      type: object
      description: "Response model for workspace usage statistics.\n\nAttributes:\n    workspace_id: Unique identifier of the workspace\n    period_start: Start of the aggregation period\n    period_end: End of the aggregation period\n    total_requests: Number of requests in the period\n    total_input_tokens: Sum of input tokens used\n    total_output_tokens: Sum of output tokens generated\n    total_cost: Total cost of processing in the period\n    average_processing_time_ms: Average processing time per request in milliseconds.\n                               For hourly data, this is the simple average.\n                               For longer periods, this is a weighted average based on request counts.\n    data_complete_until: Timestamp until which statistics data is complete and accessible.\n                        This represents the latest hour boundary for which complete data is available."
      properties:
        workspace_id:
          type: string
          title: Workspace Id
        period_start:
          type: string
          title: Period Start
        period_end:
          type: string
          title: Period End
        total_requests:
          type: integer
          title: Total Requests
        total_input_tokens:
          type: integer
          title: Total Input Tokens
        total_output_tokens:
          type: integer
          title: Total Output Tokens
        total_cost:
          type: number
          title: Total Cost
        average_processing_time_ms:
          type: number
          title: Average Processing Time Ms
        data_complete_until:
          anyOf:
          - type: string
          - type: 'null'
          title: Data Complete Until
      required:
      - average_processing_time_ms
      - period_end
      - period_start
      - total_cost
      - total_input_tokens
      - total_output_tokens
      - total_requests
      - workspace_id
      title: UsageStatisticsResponse
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
