openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Users API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: users
paths:
  /v3/workspaces/{workspace_id}/users:
    get:
      tags:
      - users
      summary: List Workspace Users
      description: List all users in a workspace with their roles.
      operationId: list_workspace_users_v3_workspaces__workspace_id__users_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      tags:
      - users
      summary: Add User To Workspace
      description: Add a user to workspace with specified role.
      operationId: add_user_to_workspace_v3_workspaces__workspace_id__users_post
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_add_user_to_workspace_v3_workspaces__workspace_id__users_post'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/users/{user_id}/role:
    put:
      tags:
      - users
      summary: Update User Role In Workspace
      description: Update a user's role in a workspace.
      operationId: update_user_role_in_workspace_v3_workspaces__workspace_id__users__user_id__role_put
      parameters:
      - name: user_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: User Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_update_user_role_in_workspace_v3_workspaces__workspace_id__users__user_id__role_put'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/users/{user_id}:
    delete:
      tags:
      - users
      summary: Remove User From Workspace
      description: Remove a user from a workspace.
      operationId: remove_user_from_workspace_v3_workspaces__workspace_id__users__user_id__delete
      parameters:
      - name: user_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: User Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/users/get-current-user:
    get:
      tags:
      - users
      summary: Get Current User In Workspace
      description: Get current authenticated user's information in the context of a specific workspace.
      operationId: get_current_user_in_workspace_v3_workspaces__workspace_id__users_get_current_user_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    UserListResponse:
      type: object
      description: Response model for listing users in a workspace.
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
          title: Users
      required:
      - users
      title: UserListResponse
    Body_update_user_role_in_workspace_v3_workspaces__workspace_id__users__user_id__role_put:
      type: object
      properties:
        role:
          type: string
          title: Role
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
      required:
      - role
      title: Body_update_user_role_in_workspace_v3_workspaces__workspace_id__users__user_id__role_put
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    UserResponse:
      type: object
      description: Response model for user information.
      properties:
        user_id:
          type: string
          format: uuid
          title: User Id
        sso_username:
          type: string
          title: Sso Username
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
        is_active:
          type: boolean
          title: Is Active
        role:
          type: string
          title: Role
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        assigned_at:
          type: string
          format: date-time
          title: Assigned At
      required:
      - assigned_at
      - created_at
      - display_name
      - is_active
      - role
      - sso_username
      - updated_at
      - user_id
      title: UserResponse
    Body_add_user_to_workspace_v3_workspaces__workspace_id__users_post:
      type: object
      properties:
        sso_username:
          type: string
          title: Sso Username
        role:
          type: string
          default: PROMPT_VIEWER
          title: Role
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
      required:
      - sso_username
      title: Body_add_user_to_workspace_v3_workspaces__workspace_id__users_post
    DeleteUserResponse:
      type: object
      description: Response model for user removal from workspace.
      properties:
        success:
          type: boolean
          title: Success
        user_id:
          type: string
          format: uuid
          title: User Id
      required:
      - success
      - user_id
      title: DeleteUserResponse
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
