openapi: 3.2.0
info:
  title: B2B-OldKAIExtract API Keys API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: api-keys
  description: Management of API keys for workspace authentication.
paths:
  /v2/workspaces/api-keys/:
    get:
      tags:
      - api-keys
      summary: List Api Keys
      description: List all API keys for a workspace.
      operationId: list_api_keys_v2_workspaces_api_keys__get
      parameters:
      - name: workspace
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          title: Workspace
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyResponse'
                title: Response List Api Keys V2 Workspaces Api Keys  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      tags:
      - api-keys
      summary: Create Api Key
      operationId: create_api_key_v2_workspaces_api_keys__post
      parameters:
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_create_api_key_v2_workspaces_api_keys__post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v2/workspaces/api-keys/{key_id}:
    get:
      tags:
      - api-keys
      summary: Get Api Key
      description: Get details of a specific API key by ID.
      operationId: get_api_key_v2_workspaces_api_keys__key_id__get
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_get_api_key_v2_workspaces_api_keys__key_id__get'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - api-keys
      summary: Delete Api Key
      description: Delete an API key from the workspace by ID.
      operationId: delete_api_key_v2_workspaces_api_keys__key_id__delete
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_delete_api_key_v2_workspaces_api_keys__key_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    patch:
      tags:
      - api-keys
      summary: Update Api Key
      description: Update API key description by ID.
      operationId: update_api_key_v2_workspaces_api_keys__key_id__patch
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_update_api_key_v2_workspaces_api_keys__key_id__patch'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/api-keys:
    get:
      tags:
      - api-keys
      summary: List Api Keys V3
      description: List API keys in a workspace
      operationId: list_api_keys_v3_v3_workspaces__workspace_id__api_keys_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyResponse'
                title: Response List Api Keys V3 V3 Workspaces  Workspace Id  Api Keys Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      tags:
      - api-keys
      summary: Create Api Key V3
      description: Create a new API key for a workspace identified by UUID. API keys expire after 90 days by default.
      operationId: create_api_key_v3_v3_workspaces__workspace_id__api_keys_post
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_create_api_key_v3_v3_workspaces__workspace_id__api_keys_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/api-keys/{key_id}:
    get:
      tags:
      - api-keys
      summary: Get Api Key V3
      description: Get details of a specific API key in a workspace
      operationId: get_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__get
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - api-keys
      summary: Delete Api Key V3
      description: Delete an API key in a workspace
      operationId: delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    patch:
      tags:
      - api-keys
      summary: Update Api Key V3
      description: Update API key description by ID for a workspace identified by UUID.
      operationId: update_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__patch
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/api-keys/{key_id}/rotate:
    post:
      tags:
      - api-keys
      summary: Rotate Api Key V3
      description: Rotate an API key by creating a new one and deactivating the old one. New key expires after 90 days by default.
      operationId: rotate_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__rotate_post
      parameters:
      - name: key_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Key Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_rotate_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__rotate_post'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    Body_rotate_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__rotate_post:
      type: object
      properties:
        key_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Key Description
        expires_in_days:
          type: integer
          default: 90
          title: Expires In Days
      title: Body_rotate_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__rotate_post
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    DeleteApiKeyResponse:
      type: object
      description: Response model for API key deletion.
      properties:
        success:
          type: boolean
          title: Success
        api_key_id:
          type: string
          format: uuid
          title: Api Key Id
      required:
      - api_key_id
      - success
      title: DeleteApiKeyResponse
    Body_update_api_key_v2_workspaces_api_keys__key_id__patch:
      type: object
      properties:
        workspace:
          type: string
          default: ''
          title: Workspace
        key_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Key Description
      title: Body_update_api_key_v2_workspaces_api_keys__key_id__patch
    Body_delete_api_key_v2_workspaces_api_keys__key_id__delete:
      type: object
      properties:
        workspace:
          type: string
          default: ''
          title: Workspace
      title: Body_delete_api_key_v2_workspaces_api_keys__key_id__delete
    Body_delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete:
      type: object
      properties:
        hard_delete:
          type: boolean
          default: false
          title: Hard Delete
      title: Body_delete_api_key_v3_v3_workspaces__workspace_id__api_keys__key_id__delete
    Body_create_api_key_v3_v3_workspaces__workspace_id__api_keys_post:
      type: object
      properties:
        key_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Key Description
        expires_in_days:
          type: integer
          default: 90
          title: Expires In Days
      title: Body_create_api_key_v3_v3_workspaces__workspace_id__api_keys_post
    Body_get_api_key_v2_workspaces_api_keys__key_id__get:
      type: object
      properties:
        workspace:
          type: string
          default: ''
          title: Workspace
      title: Body_get_api_key_v2_workspaces_api_keys__key_id__get
    Body_create_api_key_v2_workspaces_api_keys__post:
      type: object
      properties:
        workspace:
          type: string
          default: ''
          title: Workspace
        key_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Key Description
      title: Body_create_api_key_v2_workspaces_api_keys__post
    ApiKeyResponse:
      type: object
      properties:
        api_key_id:
          type: string
          format: uuid
          title: Api Key Id
        raw_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Raw Key
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        expires_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Expires At
        created_at:
          type: string
          format: date-time
          title: Created At
        last_used_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Used At
      required:
      - api_key_id
      - created_at
      - description
      - expires_at
      - last_used_at
      - raw_key
      title: ApiKeyResponse
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
