openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Tags API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: tags
  description: Manage tags for workspaces and prompts.
paths:
  /v3/workspaces/{workspace_id}/tags:
    get:
      tags:
      - tags
      summary: List Tags
      description: List all tags available for a workspace identified by UUID.
      operationId: list_tags_v3_workspaces__workspace_id__tags_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      tags:
      - tags
      summary: Create Tag
      description: Create a new tag in the workspace.
      operationId: create_tag_v3_workspaces__workspace_id__tags_post
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_create_tag_v3_workspaces__workspace_id__tags_post'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/tags/{tag_id}:
    get:
      tags:
      - tags
      summary: Get Tag
      description: Get detailed information about a specific tag identified by UUID.
      operationId: get_tag_v3_workspaces__workspace_id__tags__tag_id__get
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      tags:
      - tags
      summary: Update Tag
      description: Update an existing tag.
      operationId: update_tag_v3_workspaces__workspace_id__tags__tag_id__put
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_update_tag_v3_workspaces__workspace_id__tags__tag_id__put'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - tags
      summary: Delete Tag
      description: Delete a tag. By default, performs soft delete, set hard_delete=True for permanent deletion.
      operationId: delete_tag_v3_workspaces__workspace_id__tags__tag_id__delete
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_delete_tag_v3_workspaces__workspace_id__tags__tag_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTagResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/tags:
    get:
      tags:
      - tags
      summary: List Tags Api Key
      description: List all tags available for a workspace using API key authentication.
      operationId: list_tags_api_key_v3_api_key_auth_workspaces__workspace_id__tags_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    post:
      tags:
      - tags
      summary: Create Tag Api Key
      description: Create a new tag in the workspace using API key authentication.
      operationId: create_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags_post
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_create_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags_post'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/tags/{tag_id}:
    get:
      tags:
      - tags
      summary: Get Tag Api Key
      description: Get detailed information about a specific tag using API key authentication.
      operationId: get_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__get
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    put:
      tags:
      - tags
      summary: Update Tag Api Key
      description: Update an existing tag using API key authentication.
      operationId: update_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__put
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_update_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__put'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - tags
      summary: Delete Tag Api Key
      description: Delete a tag using API key authentication. By default, performs soft delete, set hard_delete=True for permanent deletion.
      operationId: delete_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__delete
      parameters:
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_delete_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTagResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    Body_create_tag_v3_workspaces__workspace_id__tags_post:
      type: object
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      required:
      - name
      title: Body_create_tag_v3_workspaces__workspace_id__tags_post
    Body_update_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__put:
      type: object
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      title: Body_update_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__put
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    Body_delete_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__delete:
      type: object
      properties:
        hard_delete:
          type: boolean
          default: false
          title: Hard Delete
      title: Body_delete_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags__tag_id__delete
    TagListResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagListItem'
          title: Tags
      required:
      - tags
      title: TagListResponse
    Body_delete_tag_v3_workspaces__workspace_id__tags__tag_id__delete:
      type: object
      properties:
        hard_delete:
          type: boolean
          default: false
          title: Hard Delete
      title: Body_delete_tag_v3_workspaces__workspace_id__tags__tag_id__delete
    TagListItem:
      type: object
      properties:
        name:
          type: string
          title: Name
        tag_id:
          type: string
          format: uuid
          title: Tag Id
        is_system:
          type: boolean
          title: Is System
      required:
      - is_system
      - name
      - tag_id
      title: TagListItem
    DeleteTagResponse:
      type: object
      description: Response model for tag deletion.
      properties:
        success:
          type: boolean
          title: Success
        tag_id:
          type: string
          format: uuid
          title: Tag Id
        message:
          type: string
          title: Message
      required:
      - message
      - success
      - tag_id
      title: DeleteTagResponse
    Body_update_tag_v3_workspaces__workspace_id__tags__tag_id__put:
      type: object
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      title: Body_update_tag_v3_workspaces__workspace_id__tags__tag_id__put
    Body_create_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags_post:
      type: object
      properties:
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      required:
      - name
      title: Body_create_tag_api_key_v3_api_key_auth_workspaces__workspace_id__tags_post
    TagDetailResponse:
      type: object
      properties:
        name:
          type: string
          title: Name
        tag_id:
          type: string
          format: uuid
          title: Tag Id
        is_system:
          type: boolean
          title: Is System
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        workspace_id:
          type: string
          format: uuid
          title: Workspace Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      required:
      - created_at
      - description
      - is_system
      - name
      - tag_id
      - updated_at
      - workspace_id
      title: TagDetailResponse
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
