openapi: 3.2.0
info:
  title: BookingRoad Document Request API
  description: Interface for sending external booking requests to KN Road
  contact:
    name: Global Road API Support
    url: https://home.kuehne-nagel.com/en/service-request-api-road?lead_topic=api-support-road
    email: GLOBAL.API.ROAD.Support@kuehne-nagel.com
  version: v1
  x-api-id: 7c78465d-bd97-48d0-8b1f-1230281a0bef
  x-api-guideline-version: 1.9.4
servers:
- url: https://internal.api.kuehne-nagel.com/booking/road/v1
security:
- default: []
- api_key: []
tags:
- name: Document Request
paths:
  /document:
    post:
      tags:
      - Document Request
      summary: Upload Document Request
      description: '## General

        Upload a document for any Road Shipment.


        ### Accepted Document Types

        PDF, TIFF, JPEG, DOCX, XLSX, etc


        :::tip[Document Extension]

        Do not include the period [ . ] in the document extension in the JSON request.

        :::


        ### Accepted Document Codes

        | DocumentCode | Document Description |

        |:----------:|----------------------------------------|

        | 0.03 | Quality inspection cert |

        | 0.11 | Temperature timetable |

        | 0.12 | Temperature readout |

        | 0.53 | Safety data sheet |

        | 105 | Purchase order |

        | 131 | Declaration of Undertaking |

        | 167 | Carta Porte |

        | 171 | pick up notice |

        | 260 | Certificate of Conformity |

        | 263 | Certificate of Analysis |

        | 270 | Delivery note |

        | 271 | Packing list |

        | 325 | Proforma invoice |

        | 340 | Shipper/vendor docs |

        | 342 | Export cargo instructions |

        | 351 | Notice of shipment |

        | 380 | Commercial invoice |

        | 387 | Temperature readout |

        | 388 | Temp readout depot |

        | 390 | DG Declaration |

        | 510 | Client documents |

        | 515 | Pallet list out signed |

        | 516 | Transport order signed |

        | 517 | CMR |

        | 521 | Delivery Note |

        | 522 | Driver delivery manifest signed |

        | 523 | Consignment note signed |

        | 546 | Subsequent POD with differences |

        | 630 | Shipping order |

        | 640 | Delivery order |

        | 707 | Bill of lading copy |

        | 821 | Despatch note T1 |

        | 825 | Transit accompany doc |

        | 833 | Export declaration |

        | 860 | Certificate of Origin |

        | 929 | Customs entry |

        | 944 | Customs documents |

        | 953 | Eur1 |

        | 990 | Power of Attorney |

        | 913 | Customs declaration |'
      operationId: uploadDocument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
              - base64EncodedDocument
              - bookingID
              - customerId
              - customerKey
              - documentCode
              - documentExtension
              type: object
              properties:
                customerId:
                  type: string
                  description: Key or code indicating customer or customer sub-entity. Negotiated with Kuehne + Nagel ahead of time.
                customerKey:
                  type: string
                  description: Additional key or code indicating customer or customer sub-entity. Negotiated with Kuehne + Nagel ahead of time.
                documentCode:
                  type: string
                  description: See accepted codes in the API description.
                documentExtension:
                  type: string
                  description: API supports PDF, TIFF, JPEG, EML, XLSX. Do not include the period in the extension.
                bookingID:
                  type: string
                  description: Unique identifier for a submitted booking. Also referred to as a CommRef. The booking endpoint will return this value in the response.
                base64EncodedDocument:
                  type: string
                  description: The content of the document, encoded as a Base64 string. This allows binary files (e.g., PDF, DOCX, PNG) to be transmitted over the API as plain text within a JSON object.
            example:
              customerID: '1234'
              customerKey: 12345-54251-525114
              documentCode: '340'
              documentExtension: pdf
              bookingID: RAPI000812521
              base64EncodedDocument: BASE64EncodedDocument5854sdf51sd5f4sd35f486435s4das51dasfgdf
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - transactionID
                - uploadConfirmationID
                - uploadIsSuccessful
                type: object
                properties:
                  errorMessage:
                    type:
                    - string
                    - 'null'
                    description: Successful bookings will not have an error message.
                  uploadConfirmationID:
                    type: string
                    description: Unique Identifier for a successful document upload.
                  uploadIsSuccessful:
                    type: boolean
                    description: True or false indicator if the document upload request is successful.
                  transactionID:
                    type: string
                    description: A unique identifier used for troubleshooting
      deprecated: false
      security:
      - default: []
      - api_key: []
      x-throttling-tier: 10KPerMin
      x-auth-type: Application & Application User
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://internal.api.kuehne-nagel.com/authorize
          scopes: {}
    api_key:
      type: apiKey
      name: apikey
      in: header
