openapi: 3.2.0
info:
  title: OrderBooking Process State API
  description: 'This API is part of the Kuehne+Nagel API layer. It handles bookings

    primarily for external partners. To use this API you must be registered and set

    up as an API user. Access to the booking API depends on the Task Owner in the customer''s

    eSOP booking configuration.

    '
  contact:
    name: Kuehne+Nagel ESP Public APIs
    url: https://esp.kuehne-nagel.com
    email: webdev-esp-public-apis@kuehne-nagel.com
  version: v1
  x-api-version: 1.2.0
  x-api-id: 3f19e4be-68bc-4529-8140-b14d0e5e59ae
  x-api-guideline-version: 1.11.2
servers:
- url: https://internal.api.kuehne-nagel.com/order-management/order-booking/v1
security:
- default: []
tags:
- name: process-state
paths:
  /process-states/{processStateId}:
    get:
      tags:
      - process-state
      summary: Read an existing process state by processStateId
      description: 'The successful creation of the booking starts an async process. The current state of the process can be

        requested via this endpoint.

        '
      operationId: readProcessState
      parameters:
      - $ref: '#/components/parameters/ProcessStateIdParam'
      responses:
        '200':
          description: Process state found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessStateResponse'
        default:
          $ref: '#/components/responses/default'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: 10KPerMin
components:
  parameters:
    ProcessStateIdParam:
      name: processStateId
      in: path
      description: The processStateIdParam identifies an booking process state.
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/ProcessStateId'
  schemas:
    ProcessStateId:
      type: string
      description: Unique identifier of the requested operation
      format: uuid
      example: 930f1d05-5be4-4496-bb2b-3f40e60b3749
    ProcessStep:
      type: string
      x-extensible-enum:
      - BOOKING_CREATED
      - ORDERS_IMPORTED
      - BOOKING_IN_CREATION_VALIDATED
      - EXCEPTIONS_EVALUATED
      - BOOKING_REQUESTED
    Problem:
      required:
      - detail
      - title
      type: object
      properties:
        type:
          type: string
          description: 'A URI reference that uniquely identifies the problem type only in the context of the provided API. Opposed to the specification in RFC-7807, it is neither recommended to be dereferencable and point to a human-readable documentation nor globally unique for the problem type.

            '
          format: uri-reference
          example: /problem/connection-error
          default: about:blank
        title:
          type: string
          description: 'A short summary of the problem type. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.

            '
          example: Service Unavailable
        status:
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence of the problem.

            '
          format: int32
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the problem that is helpful to locate the problem and give advice on how to proceed. Written in English and readable for engineers, usually not suited for non technical stakeholders and not localized.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'A URI reference that identifies the specific occurrence of the problem, e.g. by adding a fragment identifier or sub-path to the problem type. May be used to locate the root of this problem in the source code.

            '
          format: uri-reference
          example: /problem/connection-error#token-info-read-timed-out
    ProcessStateResponse:
      required:
      - errors
      - lastFinishedProcessStep
      - processState
      - processStateId
      type: object
      properties:
        bookingNumber:
          $ref: '#/components/schemas/BookingNumber'
        processStateId:
          $ref: '#/components/schemas/ProcessStateId'
        processState:
          $ref: '#/components/schemas/ProcessState'
        lastFinishedProcessStep:
          $ref: '#/components/schemas/ProcessStep'
        errors:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/ProcessError'
    ProcessState:
      type: string
      x-extensible-enum:
      - IN_PROGRESS
      - FINISHED
      - ABORTED
    BookingNumber:
      maxLength: 12
      minLength: 12
      type: string
      example: CN1234567890
    ProcessError:
      type: string
  responses:
    default:
      description: Default Response for Error Cases
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://internal.api.kuehne-nagel.com/authorize
          scopes: {}
