openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Background Tasks API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: background-tasks
  description: Monitor and manage background scheduled tasks.
paths:
  /v3/background-tasks:
    get:
      tags:
      - background-tasks
      summary: Get Background Tasks Status
      description: "Get the status of all background tasks.\n\nThis endpoint allows global administrators to monitor scheduled background tasks,\nincluding their execution history and current status.\n\n**Authentication**: SSO-only (requires x-auth-request-email header)\n**Authorization**: Global administrator role required\n\nReturns:\n    TaskStatusResponse containing information about all scheduled tasks"
      operationId: get_background_tasks_status_v3_background_tasks_get
      parameters:
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    TaskInfo:
      type: object
      description: Information about a scheduled background task.
      properties:
        task_name:
          type: string
          title: Task Name
        interval_seconds:
          type: number
          title: Interval Seconds
        run_immediately:
          type: boolean
          title: Run Immediately
        scheduled_at:
          type: string
          format: date-time
          title: Scheduled At
        next_execution_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Next Execution At
        last_execution_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Execution At
        last_execution_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Execution Status
        execution_count:
          type: integer
          default: 0
          title: Execution Count
        is_running:
          type: boolean
          default: false
          title: Is Running
      required:
      - interval_seconds
      - run_immediately
      - scheduled_at
      - task_name
      title: TaskInfo
    TaskStatusResponse:
      type: object
      description: Response model for task status queries.
      properties:
        total_tasks:
          type: integer
          title: Total Tasks
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskInfo'
          title: Tasks
      required:
      - tasks
      - total_tasks
      title: TaskStatusResponse
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
