openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Prompt Tags API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: prompt-tags
  description: Assign and manage tags for specific prompt versions.
paths:
  /v3/workspaces/{workspace_id}/prompts/{prompt_id}/versions/{version_id}/tags/{tag_id}:
    post:
      tags:
      - prompt-tags
      summary: Assign Tag To Version
      description: Assign a tag to a specific prompt version.
      operationId: assign_tag_to_version_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__post
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagAssignmentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - prompt-tags
      summary: Remove Tag From Version
      description: Remove a tag from a specific prompt version.
      operationId: remove_tag_from_version_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_remove_tag_from_version_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagAssignmentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/prompts/{prompt_id}/versions/{version_id}/tags:
    get:
      tags:
      - prompt-tags
      summary: List Version Tags
      description: List all tags assigned to a specific prompt version.
      operationId: list_version_tags_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/workspaces/{workspace_id}/prompts/{prompt_id}/tags/{tag_name}/version:
    get:
      tags:
      - prompt-tags
      summary: Get Version By Tag
      description: Get a prompt version by its tag name (e.g., 'latest', 'production', etc.).
      operationId: get_version_by_tag_v3_workspaces__workspace_id__prompts__prompt_id__tags__tag_name__version_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: tag_name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: Tag Name
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/prompts/{prompt_id}/versions/{version_id}/tags/{tag_id}:
    post:
      tags:
      - prompt-tags
      summary: Assign Tag To Version Api Key
      description: Assign a tag to a specific prompt version using API key authentication.
      operationId: assign_tag_to_version_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__post
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagAssignmentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
    delete:
      tags:
      - prompt-tags
      summary: Remove Tag From Version Api Key
      description: Remove a tag from a specific prompt version using API key authentication.
      operationId: remove_tag_from_version_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: tag_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Tag Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_remove_tag_from_version_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagAssignmentResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/prompts/{prompt_id}/versions/{version_id}/tags:
    get:
      tags:
      - prompt-tags
      summary: List Version Tags Api Key
      description: List all tags assigned to a specific prompt version using API key authentication.
      operationId: list_version_tags_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: version_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Version Id
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/prompts/{prompt_id}/tags/{tag_name}/version:
    get:
      tags:
      - prompt-tags
      summary: Get Version By Tag Api Key
      description: Get a prompt version by its tag name using API key authentication.
      operationId: get_version_by_tag_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__tags__tag_name__version_get
      parameters:
      - name: prompt_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Prompt Id
      - name: tag_name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: Tag Name
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDetailResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    Body_remove_tag_from_version_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete:
      type: object
      properties:
        hard_delete:
          type: boolean
          default: false
          title: Hard Delete
      title: Body_remove_tag_from_version_v3_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    TagListResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagListItem'
          title: Tags
      required:
      - tags
      title: TagListResponse
    PromptVersionDetail:
      type: object
      properties:
        version_id:
          type: string
          format: uuid
          title: Version Id
        prompt_content:
          type: string
          title: Prompt Content
        schema_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Schema Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagListItem'
          title: Tags
      required:
      - created_at
      - prompt_content
      - schema_id
      - tags
      - updated_at
      - version_id
      title: PromptVersionDetail
    TagAssignmentResponse:
      type: object
      description: Response model for tag assignment operations.
      properties:
        success:
          type: boolean
          title: Success
        tag_id:
          type: string
          format: uuid
          title: Tag Id
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
        version_id:
          type: string
          format: uuid
          title: Version Id
        tag_name:
          type: string
          title: Tag Name
      required:
      - prompt_id
      - success
      - tag_id
      - tag_name
      - version_id
      title: TagAssignmentResponse
    TagListItem:
      type: object
      properties:
        name:
          type: string
          title: Name
        tag_id:
          type: string
          format: uuid
          title: Tag Id
        is_system:
          type: boolean
          title: Is System
      required:
      - is_system
      - name
      - tag_id
      title: TagListItem
    ? Body_remove_tag_from_version_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete
    : type: object
      properties:
        hard_delete:
          type: boolean
          default: false
          title: Hard Delete
      title: Body_remove_tag_from_version_api_key_v3_api_key_auth_workspaces__workspace_id__prompts__prompt_id__versions__version_id__tags__tag_id__delete
    PromptDetailResponse:
      type: object
      properties:
        name:
          type: string
          title: Name
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
        prompt_text:
          type: string
          title: Prompt Text
        schema_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Schema Id
        workspace_id:
          type: string
          format: uuid
          title: Workspace Id
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        prompt_version_id:
          type: string
          format: uuid
          title: Prompt Version Id
        version_tag:
          type: string
          title: Version Tag
        versions:
          type: array
          items:
            $ref: '#/components/schemas/PromptVersionDetail'
          title: Versions
      required:
      - created_at
      - description
      - name
      - prompt_id
      - prompt_text
      - prompt_version_id
      - schema_id
      - updated_at
      - version_tag
      - versions
      - workspace_id
      title: PromptDetailResponse
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
