openapi: 3.2.0
info:
  title: BookingRoad Document Request API
  description: Interface for sending external booking requests to KN Road
  contact:
    name: Global Road API Support
    url: https://home.kuehne-nagel.com/en/service-request-api-road?lead_topic=api-support-road
    email: GLOBAL.API.ROAD.Support@kuehne-nagel.com
  version: v1
  x-api-id: 7c78465d-bd97-48d0-8b1f-1230281a0bef
  x-api-guideline-version: 1.9.4
servers:
- url: https://internal.api.kuehne-nagel.com/booking/road/v1
security:
- default: []
- api_key: []
tags:
- name: Document Request
paths:
  /document:
    post:
      tags:
      - Document Request
      summary: Upload Document Request
      description: "## General\nUpload a document for any Road Shipment.\n\n\n### Accepted Document Types\nPDF, TIFF, JPEG, DOCX, XLSX, etc\n\n\n:::tip[Document Extension]\nDo not include the period [ . ] in the document extension in the JSON request. \n:::\n\n### Accepted Document Codes\n| DocumentCode | Document Description                   |\n|:----------:|----------------------------------------|\n| 0.03     | Quality inspection cert                |\n| 0.11     | Temperature timetable                  |\n| 0.12     | Temperature readout                    |\n| 0.53     | Safety data sheet                      |\n| 105      | Purchase order                         |\n| 131      | Declaration of Undertaking             |\n| 167      | Carta Porte                            |\n| 171      | pick up notice                         |\n| 260      | Certificate of Conformity              |\n| 263      | Certificate of Analysis                |\n| 270      | Delivery note                          |\n| 271      | Packing list                           |\n| 325      | Proforma invoice                       |\n| 340      | Shipper/vendor docs                    |\n| 342      | Export cargo instructions              |\n| 351      | Notice of shipment                     |\n| 380      | Commercial invoice                     |\n| 387      | Temperature readout                    |\n| 388      | Temp readout depot                     |\n| 390      | DG Declaration                         |\n| 510      | Client documents                       |\n| 515      | Pallet list out signed                 |\n| 516      | Transport order signed                 |\n| 517      | CMR                                    |\n| 521      | Delivery Note                          |\n| 522      | Driver delivery manifest signed        |\n| 523      | Consignment note signed                |\n| 546      | Subsequent POD with differences        |\n| 630      | Shipping order                         |\n| 640      | Delivery order                         |\n| 707      | Bill of lading copy                    |\n| 821      | Despatch note T1                       |\n| 825      | Transit accompany doc                  |\n| 833      | Export declaration                     |\n| 860      | Certificate of Origin                  |\n| 929      | Customs entry                          |\n| 944      | Customs documents                      |\n| 953      | Eur1                                   |\n| 990      | Power of Attorney                      |\n| 913      | Customs declaration                    |\n\n\n"
      operationId: uploadDocument
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
              - base64EncodedDocument
              - bookingID
              - customerId
              - customerKey
              - documentCode
              - documentExtension
              type: object
              properties:
                customerId:
                  type: string
                  description: Key or code indicating customer or customer sub-entity. Negotiated with Kuehne + Nagel ahead of time.
                customerKey:
                  type: string
                  description: Additional key or code indicating customer or customer sub-entity. Negotiated with Kuehne + Nagel ahead of time.
                documentCode:
                  type: string
                  description: See accepted codes in the API description.
                documentExtension:
                  type: string
                  description: API supports PDF, TIFF, JPEG, EML, XLSX. Do not include the period in the extension.
                bookingID:
                  type: string
                  description: Unique identifier for a submitted booking. Also referred to as a CommRef. The booking endpoint will return this value in the response.
                base64EncodedDocument:
                  type: string
                  description: The content of the document, encoded as a Base64 string. This allows binary files (e.g., PDF, DOCX, PNG) to be transmitted over the API as plain text within a JSON object.
            example:
              customerID: '1234'
              customerKey: 12345-54251-525114
              documentCode: '340'
              documentExtension: pdf
              bookingID: RAPI000812521
              base64EncodedDocument: BASE64EncodedDocument5854sdf51sd5f4sd35f486435s4das51dasfgdf
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                required:
                - transactionID
                - uploadConfirmationID
                - uploadIsSuccessful
                type: object
                properties:
                  errorMessage:
                    type:
                    - string
                    - 'null'
                    description: Successful bookings will not have an error message.
                  uploadConfirmationID:
                    type: string
                    description: Unique Identifier for a successful document upload.
                  uploadIsSuccessful:
                    type: boolean
                    description: True or false indicator if the document upload request is successful.
                  transactionID:
                    type: string
                    description: A unique identifier used for troubleshooting
      deprecated: false
      security:
      - default: []
      - api_key: []
      x-throttling-tier: 10KPerMin
      x-auth-type: Application & Application User
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://internal.api.kuehne-nagel.com/authorize
          scopes: {}
    api_key:
      type: apiKey
      name: apikey
      in: header
