openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Tools API
  description: 'Extract structured information from documents.


    ## Using the API


    ### Optional Parameters

    When using the ''Try it out'' feature in Swagger UI, optional parameters with empty values can be left as-is. The API handles empty strings and will treat them as if the parameter was omitted. You don''t need to remove empty optional fields from requests.


    **Tip:** In generated curl commands, you may see flags like `-F ''tag=''` or `-F ''tools=''`. These empty optional fields are safe to include or remove - the API treats them identically.'
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: tools
  description: Manage and discover available LLM tools for function calling. Includes both local tools and tools from registered MCP servers.
paths:
  /v3/workspaces/{workspace_id}/tools:
    get:
      tags:
      - tools
      summary: Get Available Tools
      description: 'Get a list of all available tools that can be used with LLM processing.


        This includes both local tools and tools from registered MCP servers.'
      operationId: get_available_tools_v3_workspaces__workspace_id__tools_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-auth-request-email
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Auth-Request-Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /v3/api-key-auth/workspaces/{workspace_id}/tools:
    get:
      tags:
      - tools
      summary: Get Available Tools Api Key
      description: 'Get a list of all available tools that can be used with LLM processing (API key auth).


        This includes both local tools and tools from registered MCP servers.'
      operationId: get_available_tools_api_key_v3_api_key_auth_workspaces__workspace_id__tools_get
      parameters:
      - name: workspace_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: x-api-key
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolsListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  schemas:
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    ToolSource:
      type: string
      description: Source of a tool (native or MCP).
      enum:
      - native
      - mcp
      title: ToolSource
    ToolsListResponse:
      type: object
      description: Response model for listing available tools.
      properties:
        tools:
          type: array
          items:
            $ref: '#/components/schemas/ToolInfo'
          title: Tools
      required:
      - tools
      title: ToolsListResponse
    ToolInfo:
      type: object
      description: Information about an individual tool.
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        user_description:
          anyOf:
          - type: string
          - type: 'null'
          title: User Description
        function_name:
          type: string
          title: Function Name
        module:
          type: string
          title: Module
        source:
          $ref: '#/components/schemas/ToolSource'
          default: native
        mcp_server_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Mcp Server Name
      required:
      - description
      - function_name
      - module
      - name
      title: ToolInfo
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
