openapi: 3.2.0
info:
  title: B2B-OldKAIExtract Config API
  description: Extract structured information from documents.
  version: 0.1.0
servers:
- url: https://gateway.api.kuehne-nagel.com/oldkaiextractapi/0.1.0
- url: http://gateway.api.kuehne-nagel.com:8280/oldkaiextractapi/0.1.0
security:
- default: []
tags:
- name: Config
  description: API configuration and metadata endpoints.
paths:
  /v3/config/supported-file-types:
    get:
      tags:
      - Config
      summary: Get Supported File Types
      description: 'Return the list of supported file types for document processing.


        This endpoint is public and does not require authentication.

        It provides the canonical list of file types that can be processed by the API.


        Returns:

        file_types: List of file type names (e.g., ["PDF", "DOCX", "PNG"])

        extensions: List of file extensions (e.g., [".pdf", ".docx", ".png"])'
      operationId: get_supported_file_types_v3_config_supported_file_types_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
                title: Response Get Supported File Types V3 Config Supported File Types Get
      security:
      - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
components:
  securitySchemes:
    default:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://gateway.api.kuehne-nagel.com/authorize
          scopes: {}
x-wso2-api-key-header: ApiKey
